        <section class="main-section animate__animated animate__fadeIn wow">
            <div class="container">
	                <div class="row ">
	                	<div class="col-md-6 col-sm-6"></div>
	                	<div class="col-md-6 col-sm-6 animate__animated animate__fadeInRightBig wow" data-wow-delay="1s">
	                		<div class="row">
									<div class="col-lg-5"></div>
									<div class="col-lg-6">
			                    		<div class="main-item">
				                            <h3>NOSQL COURSE</h3>
				                            <p>Курсовая работа по курсу ВвНСУБД: представление данных NASA API.
				                        </div>
				                    </div>
				                </div>
            				<div class="caption">
	                        </div>
	                    </div>
	                </div>
	            </div>
            </div>
        </section>
		
		
		<section class="service-section">
            <div class="container">
            	<div class="row">
                    <div class="col-md-12">
                        <div class="titie-section wow animate__animated animate__fadeInDown">
                            <h1>Возможности сервиса</h1>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-6 wow animate__animated animate__fadeIn" data-wow-delay="0.1s">
                        <div class="service-item">
                            <h3>МКС</h3>
                            <p>Отображение Международной космической станции на карте в режиме реального времени, а также возможность просмотра трасляции с камер, установлнных на ней</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 wow animate__animated animate__fadeIn" data-wow-delay="0.2s">
                        <div class="service-item">
                            <h3>Метеориты</h3>
                            <p>Визуализация метеоритов на карте, наличие фильтров для разных параметров</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 wow animate__animated animate__fadeIn" data-wow-delay="0.3s">
                        <div class="service-item">
                            <h3>Астероиды</h3>
                            <p>Получение данных о астеороидах и кометах</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 wow animate__animated animate__fadeIn" data-wow-delay="0.4s">
                        <div class="service-item">
                            <h3>Управление данными</h3>
                            <p>Возможность эскпортировать и импортировать данные о космических телах</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <p>2021 NOSQL Course work</p>
                    </div>
                    <div class="col-md-8">
                    </div>
                    <div class="col-md-2">
                        <p>Made by @po4yka, @FireRalin, @Legendorik</p>
                    </div>
                </div>
            </div>
        </footer>

        <!-- JQUERY -->
        <script src="js/vendor/jquery-1.11.2.min.js"></script>
        <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/isotope.pkgd.min.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/wow.min.js"></script>
        <script src="js/custom.js"></script>
        <script src="js/service.js"></script>
    </body>
</html>